<div *ngIf="!modify">
    <h2>Színész létrehozása</h2>
</div>
<div *ngIf="modify">
    <h2>Színész módosítása</h2><br/>
</div>
<div *ngIf="!saved && !deleted">
    <form #editActorForm="ngForm">
        <div *ngIf="modify">
            <label>ID: {{actor.id}}</label>
        </div>
        <label for="name">Név:</label>
        <input type="text" id="name" name="name" required maxlength="200" appCustomText [(ngModel)]="actor.name" #name="ngModel"><label title="{{inputTextMessage}}"> ?</label><br/>
        <label for="gender">Nem:</label>
        <select name="gender" id="gender" [compareWith]="compareGenders" required [(ngModel)]="actor.gender" #gender="ngModel">
            <option *ngFor="let g of genders" [ngValue]="g">{{g.name}}</option>
        </select><label title="{{selectMessage}}"> ?</label><br/>
        <label for="birthPlace">Születési hely:</label>
        <input type="text" id="birthPlace" name="birthPlace" maxlength="200" required appCustomText [(ngModel)]="actor.birthPlace" #birthPlace="ngModel"><label title="{{inputTextMessage}}"> ?</label><br/>
        <label for="birthDate">Születési idő:</label>
        <input type="date" id="birthDate" name="birthDate" required appCustomDate="1750,2100" [(ngModel)]="bDate" #birthDate="ngModel"><label title="{{birthDateMessage}}"> ?</label><br/>
        <label for="bio">Élettörténet:</label><br/>
        <textarea rows="10" cols="70" id="bio" name="bio" required maxlength="60000" appCustomText [(ngModel)]="actor.bio" #bio="ngModel"></textarea><label title="{{textareaMessage}}"> ?</label><br/>
        <div *ngIf="!modify">
            <button type="button" class="btn btn-success" (click)="addActor()" [disabled]="!editActorForm.form.valid">Mentés</button>
        </div>
        <div *ngIf="modify">
            <button type="button" class="btn btn-success" (click)="modifyActor()" [disabled]="!editActorForm.form.valid">Módosítás</button>
            <button type="button" class="btn btn-danger" (click)="deleteActor()">Törlés</button>
        </div>
        <div *ngIf="error">
            <label>A színész nem törölhető, mert filmekben vagy sorozatokban szerepel!</label>
        </div>
    </form>
</div>
<div *ngIf="deleted">
    <label>Törölve!</label>
</div>
<div *ngIf="saved">
    <label>Elmentve!</label>
</div>
<button type="button" class="btn btn-secondary" (click)="goBack()">Vissza</button>