<h2>Sorozat létrehozása</h2>
<div *ngIf="!saved">
    <form (ngSubmit)="addSeries()" #editSeriesForm="ngForm">
        <label for="title">Cím:</label>
        <input type="text" id="title" name="title" required pattern="^\S.*\S$|^\S$" [(ngModel)]="series.title" #title="ngModel"/><br/>
        kép
        <label for="releaseYear">Megjelenés éve:</label>
        <input type="number" id="releaseYear" name="releaseYear" required appCustomMin="1900" appCustomMax="2100" [(ngModel)]="series.releaseYear" #releaseYear="ngModel"/><br/>
        <label for="genre">Műfaj:</label>
        <select name="genre" id="genre" required [(ngModel)]="series.genre" #genre="ngModel">
          <option *ngFor="let g of genres" [ngValue]="g">{{g.name}}</option>
        </select><br/>
        <label for="ageClassification">Korbesorolás:</label>
        <select name="ageClassification" id="ageClassification" required [(ngModel)]="series.ageClassification" #ageClassification="ngModel">
          <option *ngFor="let a of ageClassifications" [ngValue]="a">{{a.name}}</option>
        </select><br/>
        <button type="submit" [disabled]="!editSeriesForm.form.valid">Mentés</button>
        évadok...
    </form>
</div>
<div *ngIf="saved">
    <label>Elmentve!</label>
</div>
<button type="button" (click)="goBack()">Vissza</button>