<label>Hozzászólások:</label>
<div *ngIf="!comments || comments.length == 0">
    <label>Még nincsenek hozzászólások.</label>
</div>
<div *ngIf="comments && comments.length > 0">
    <ul>
        <li *ngFor="let c of comments">
            <div>
                <label>{{c.postDate}}</label>
                <div class="multiline">{{c.content}}</div>
                <div *ngIf="!c.moderated">
                    <button type="button" class="btn btn-danger" (click)="moderateComment(c.id)">Moderálás</button>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-xs-12 col-12">
        <pagination [boundaryLinks]="true" [directionLinks]="true" [maxSize]="5" [rotate]="true" [itemsPerPage]="size" [totalItems]="total" (pageChanged)="onPageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
    </div>
</div>
<app-new-comment [type]="type" [id]="id" (refresh)="onRefresh()" *ngIf="true"></app-new-comment>