<h2>Talált sorozatok</h2>
<div  *ngIf="series && series.length > 0">
  <ul>
      <li *ngFor="let s of series">
          <a [routerLink]="['../series', s.id]"><span>{{s.title}}</span></a>
      </li>
  </ul>
</div>
<div *ngIf="series && series.length == 0">
    <label>Nincs találat.</label>
</div>
<div class="row">
    <div class="col-xs-12 col-12">
        <pagination [boundaryLinks]="true" [directionLinks]="true" [maxSize]="5" [rotate]="true" [itemsPerPage]="size" [totalItems]="total" (pageChanged)="onPageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
    </div>
</div>
<button type="button" class="btn btn-secondary" (click)="goBack()">Vissza</button>