<h2>Nemek kezelése</h2>
<div>
    <ul>
        <li *ngFor="let g of genders">
            <label>ID: </label><label>{{g.id}} </label><label>Megnevezés: </label><label>{{g.name}}</label>
            <button type="button" (click)="editExisting(g.id, g.name)">Szerkesztés</button>
            <button type="button" (click)="deleteGender(g.id)">Törlés</button>
        </li>
    </ul>
</div>
<div *ngIf="!create">
    <button type="button" (click)="createNew()">Létrehozás</button>
</div>
<div *ngIf="create">
    <form (ngSubmit)="addGender(name.value)" #newGenderForm="ngForm">
        <label for="name">Megnevezés:</label>
        <input type="text" id="name" name="name" required pattern=".*\S.*" #name ngModel><br/>
        <button type="button" (click)="cancelCreate()">Mégse</button>
        <button type="submit" [disabled]="!newGenderForm.form.valid">Hozzáadás</button>
    </form>
</div>
<div *ngIf="edit">
    <form (ngSubmit)="modifyGender()" #modifyGenderForm="ngForm">
        <label>ID:</label>
        <label>{{gender.id}}</label>
        <label for="name">Megnevezés:</label>
        <input type="text" id="name" name="name" required pattern=".*\S.*" #name [(ngModel)]="gender.name"><br/>
        <button type="button" (click)="cancelEdit()">Mégse</button>
        <button type="submit" [disabled]="!modifyGenderForm.form.valid">Mentés</button>
    </form>
</div>
<button type="button" (click)="goBack()">Vissza</button>