<form>
  <label for="title">Cím:</label>
  <input type="text" id="title" name="title"/><br/>
  kép
  <label for="rating">Értékelés:</label>
  <input type="text" id="rating" name="rating"/><br/>
  <label for="releaseYear">Megjelenés éve:</label>
  <input type="text" id="releaseYear" name="releaseYear"/><br/>
  <label for="genre">Műfaj:</label>
  <input type="text" id="genre" name="genre"/><br/>
  <label for="length">Hossz:</label>
  <input type="text" id="length" name="length"/><br/>
  <label for="ageClassification">Korbesorolás:</label>
  <input type="text" id="ageClassification" name="ageClassification"/><br/>
  <label for="budget">Költségvetés:</label>
  <input type="text" id="budget" name="budget"/><br/>
  <label for="actors">Színészek:</label>
  <input type="text" id="actors" name="actors"/>todo lista?
</form>