<button class="btn btn-primary" *ngIf="canDo && !show" (click)="writeNewComment()">Új hozzászólás írása</button>
<div *ngIf="show">
    <form (ngSubmit)="addComment()" #newCommentForm="ngForm">
        <label for="content">Hozzászólás:</label><br/>
        <textarea rows="5" cols="100" id="content" name="content" required maxlength="60000" appCustomText [(ngModel)]="comment.content" #content="ngModel"></textarea>
        <label tooltip="{{textareaMessage}}" placement="right"><img src="assets/help.png" alt="help" class="help"></label><br/>
        <button type="submit" class="btn btn-success" [disabled]="!newCommentForm.form.valid">Küldés</button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">Mégse</button>
    </form>
</div>