<button class="btn btn-primary" *ngIf="!show" (click)="writeNewComment()">Új hozzászólás írása</button>
<div *ngIf="show">
    <form (ngSubmit)="addComment()" #newCommentForm="ngForm">
        <label for="content">Hozzászólás:</label><br/>
        <textarea rows="5" cols="70" id="content" name="content" required maxlength="60000" appCustomText [(ngModel)]="comment.content" #content="ngModel"></textarea><label title="{{textareaMessage}}"> ?</label><br/>
        <button type="submit" class="btn btn-success" [disabled]="!newCommentForm.form.valid">Küldés</button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">Mégse</button>
    </form>
</div>