<h2>Sorozat</h2>
<div *ngIf="series">
  <div *ngIf=true>
    <label>ID:</label>
    <label>{{series.id}}</label>
    <button class="btn btn-primary" [routerLink]="['/admin/edit-series', { id: series.id }]">Szerkesztés</button>
  </div>
  <label>Cím:</label>
  <label>{{series.title}}</label><br />
  kép
  <br />
  <label>Értékelés:</label>
  <span *ngIf="series.rating == 0">Még nincs értékelve.</span>
  <span *ngIf="series.rating > 0">{{series.rating.toPrecision(3)}}</span>
  <br/>
  <label>Megjelenés éve:</label>
  <label>{{series.releaseYear}}</label><br />
  <label>Műfaj:</label>
  <label>{{series.genre.name}}</label><br />
  <label>Korbesorolás:</label>
  <label>{{series.ageClassification.name}}</label><br/>
  <label>Évadok:</label>
  <div *ngIf="series.seasons.length == 0">
    <label>Még nincsenek évadok hozzáadva.</label>
  </div>
  <ul>
    <li *ngFor="let s of series.seasons">
      <label (click)="showEpisodes(s)"><span *ngIf="true">ID: {{s.id}} </span>{{s.number}}. évad ({{s.episodes.length}} epizód)</label>
      <button class="btn btn-primary" [routerLink]="['/admin/edit-season', { id: s.id, seriesId: series.id }]" *ngIf="true">Szerkesztés</button>
    </li>
  </ul>
  <div *ngIf="show">
    <label>{{season.number}}. évad epizódjai:</label>
    <div *ngIf="season.episodes.length == 0">
      <label>Még nincsenek epizódok hozzáadva.</label>
    </div>
    <ul>
      <li *ngFor="let e of season.episodes">
          <a [routerLink]="['../../episode', e.id]"><span>{{e.title}}</span></a>
      </li>
    </ul>
  </div>
</div>
<button type="button" class="btn btn-secondary" (click)="goBack()">Vissza</button>