<div *ngIf="series">
  <div *ngIf=true>
    <label>ID:</label>
    <label>{{series.id}}</label>
    <button [routerLink]="['/admin/edit-series', { id: series.id }]">Szerkesztés</button>
  </div>
  <label>Cím:</label>
  <label>{{series.title}}</label><br />
  kép
  <br />
  <label>Értékelés</label>
  <label>{{series.rating}}</label><br />
  <label>Megjelenés éve:</label>
  <label>{{series.releaseYear}}</label><br />
  <label>Műfaj:</label>
  <label>{{series.genre.name}}</label><br />
  <label>Korbesorolás:</label>
  <label>{{series.ageClassification.name}}</label><br/>
  <label>Évadok:</label>
  <label>lista</label>
</div>
<button type="button" (click)="goBack()">Vissza</button>