<button class="btn btn-primary" [routerLink]="['./edit-actor']">Színész létrehozása</button><br/>
<button class="btn btn-primary" [routerLink]="['./edit-movie']">Film létrehozása</button><br/>
<button class="btn btn-primary" [routerLink]="['./edit-series']">Sorozat létrehozása</button><br/>
<button class="btn btn-primary" [routerLink]="['./edit-season']">Évad létrehozása</button><br/>
<button class="btn btn-primary" [routerLink]="['./edit-episode']">Epizód létrehozása</button><br/>
<hr>
<button class="btn btn-primary" [routerLink]="['./edit-movie-actors']">Film színészeinek kezelése</button><br/>
<button class="btn btn-primary" [routerLink]="['./edit-episode-actors']">Epizód színészeinek kezelése</button><br/>
<hr>
<button class="btn btn-primary" [routerLink]="['./edit-age-classification']">Korbesorolások kezelése</button><br/>
<button class="btn btn-primary" [routerLink]="['./edit-gender']">Nemek kezelése</button><br/>
<button class="btn btn-primary" [routerLink]="['./edit-genre']">Műfajok kezelése</button><br/>
<hr>
<button class="btn btn-primary" [routerLink]="['./edit-rules']">Szabályzat módosítása</button>