<button [routerLink]="['./edit-actor']">Színész létrehozása</button><br/>
<button [routerLink]="['./edit-movie']">Film létrehozása</button><br/>
<button [routerLink]="['./edit-series']">Sorozat létrehozása</button><br/>
<button [routerLink]="['./edit-season']">Évad létrehozása</button><br/>
<button [routerLink]="['./edit-episode']">Epizód létrehozása</button><br/>
<hr/>
<button [routerLink]="['./edit-age-classification']">Korbesorolások kezelése</button><br/>
<button [routerLink]="['./edit-gender']">Nemek kezelése</button><br/>
<button [routerLink]="['./edit-genre']">Műfajok kezelése</button>