<button [routerLink]="['./edit-actor']">Színész létrehozása</button><br/>
<button [routerLink]="['./edit-movie']">Film létrehozása</button><br/>
<button [routerLink]="['./edit-series']">Sorozat létrehozása</button><br/>
<button [routerLink]="['./edit-season']">Évad létrehozása</button><br/>
<button [routerLink]="['./edit-episode']">Epizód létrehozása</button><br/>
<hr/>
<button [routerLink]="['./edit-age-classification']">Korbesorolás szerkesztése</button><br/>
<button [routerLink]="['./edit-gender']">Nem szerkesztése</button><br/>
<button [routerLink]="['./edit-genre']">Műfaj szerkesztése</button>