<div *ngIf="!saved && !published">
    <form (ngSubmit)="publishNewArticle()" #newArticleForm="ngForm">
        <label for="title">Cím:</label><br />
        <input type="text" id="title" name="title" required [(ngModel)]="article.title" #title="ngModel"><br />
        <label for="content">Tartalom:</label><br />
        <input type="text" id="content" name="content" required [(ngModel)]="article.content" #content="ngModel"><br />
        <button type="button" [disabled]="!newArticleForm.form.valid" (click)="saveArticle()">Mentés</button>
        <button type="submit" [disabled]="!newArticleForm.form.valid">Publikálás</button>
    </form>
</div>
<div *ngIf="saved">
    <label>Elmentve!</label><br />
    <button (click)="goBack()">Vissza</button>
</div>
<div *ngIf="published">
    <label>Publikálva!</label><br />
    <button (click)="goBack()">Vissza</button>
</div>