<div *ngIf="rules">
    <div *ngIf="!showRules">
        <button type="button" class="btn btn-primary" (click)="toggleRules()">Szabályzat mutatása</button>
    </div>
    <div *ngIf="showRules">
        <div class="multiline">{{rules.content}}</div>
        <button type="button" class="btn btn-primary" (click)="toggleRules()">Szabályzat elrejtése</button>
    </div>    
</div>
<div *ngIf="!topics || topics.length == 0">
    <alert type="info" class="alert">Még nincsenek létrehozott témák.</alert>
</div>
<div *ngIf="topics && topics.length > 0">
    <ul>
        <li *ngFor="let t of topics">
            <a [routerLink]="[t.id]"><span>{{t.title}}</span></a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-xs-12 col-12">
        <pagination [boundaryLinks]="true" [directionLinks]="true" [maxSize]="5" [rotate]="true" [itemsPerPage]="size" [totalItems]="total" (pageChanged)="onPageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
    </div>
</div>
<div *ngIf=true>
    <button class="btn btn-primary" routerLink="new-topic">Új téma létrehozása</button>    
</div>