<div *ngIf="rules">
    <div *ngIf="!showRules">
        <button (click)="toggleRules()">Szabályzat mutatása</button>
    </div>
    <div *ngIf="showRules">
        <div class="multiline">{{rules.content}}</div><br/>
        <button (click)="toggleRules()">Szabályzat elrejtése</button>
    </div>    
</div>
<div *ngIf="!topics || topics.length == 0">
    <label>Még nincsenek létrehozott témák.</label>
</div>
<div *ngIf="topics && topics.length > 0">
    <ul>
        <li *ngFor="let t of topics">
            <a [routerLink]="[t.id]"><span>{{t.title}}</span></a>
        </li>
    </ul>
</div>
<div *ngIf=true>
    <button routerLink="new-topic">Új téma létrehozása</button>    
</div>