<h2>Szabályzat módosítása</h2>
<div *ngIf="!saved && rules">
  <form (ngSubmit)="modifyRules()" #editRulesForm="ngForm">
    <label for="content">Szabályzat:</label><br/>
      <textarea rows="10" cols="70" id="content" name="content" required maxlength="60000" appCustomText [(ngModel)]="rules.content" #content="ngModel"></textarea><br/>
      <button type="submit" [disabled]="!editRulesForm.form.valid">Mentés</button>
  </form>
</div>
<div *ngIf="saved">
  <label>Elmentve!</label>
</div>
<button type="button" (click)="goBack()">Vissza</button>