<div *ngIf="!modify">
    <h2>Évad létrehozása</h2>
</div>
<div *ngIf="modify">
    <h2>Évad módosítása</h2><br />
</div>
<div *ngIf="!saved && !deleted">
    <form #editSeasonForm="ngForm">
        <div *ngIf="modify">
            <label>ID: {{season.id}}</label>
        </div>
        <label for="number">Szám:</label>
        <input type="number" id="number" name="number" required appCustomMin="1" appCustomMax="100" [(ngModel)]="season.number" #number="ngModel"/><label title="{{numberMessage}}"> ?</label><br/>
        <label for="seriesID">Sorozat ID:</label>
        <input type="number" id="seriesID" name="seriesID" required appCustomMin="1" appCustomMax="9000000000000000000" [(ngModel)]="seriesId" #seriesID="ngModel"/><label title="{{idMessage}}"> ?</label><br/>
        <div *ngIf="!modify">
            <button type="button" class="btn btn-success" (click)="addSeason()" [disabled]="!editSeasonForm.form.valid">Mentés</button>
        </div>
        <div *ngIf="modify">
            <button type="button" class="btn btn-success" (click)="modifySeason()" [disabled]="!editSeasonForm.form.valid">Módosítás</button>
            <button type="button" class="btn btn-danger" (click)="deleteSeason()">Törlés</button>
        </div>
        <div *ngIf="error1">
            <label>A megadott sorozat ID nem létezik!</label>
        </div>
        <div *ngIf="error2">
            <label>Az évad nem törölhető, mert epizódokkal rendelkezik!</label>
        </div>
    </form>
</div>
<div *ngIf="deleted">
    <label>Törölve!</label>
</div>
<div *ngIf="saved">
    <label>Elmentve!</label>
</div>
<button type="button" class="btn btn-secondary" (click)="goBack()">Vissza</button>