<h2>Színész</h2>
<div *ngIf="actor">
  <div *ngIf=true>
    <label>ID:</label>
    <label>{{actor.id}}</label>
    <button [routerLink]="['/admin/edit-actor', { id: actor.id }]">Szerkesztés</button>
  </div>
  <label>Név:</label>
  <label>{{actor.name}}</label><br/>
  <label>Nem:</label>
  <label>{{actor.gender.name}}</label><br/>
  <label>Születés helye:</label>
  <label>{{actor.birthPlace}}</label><br/>
  <label>Születés ideje:</label>
  <label>{{actor.birthDate}}</label><br/>
  <label>Élettörténet:</label><br/>
  <div class="multiline">{{actor.bio}}</div>
  <label>Filmek, melyekben szerepel:</label>
  <div *ngIf="!actor.movies || actor.movies.length == 0">
    <label>A színésznek még nem szerepel filmekben.</label>
  </div>
  <div *ngIf="actor.movies && actor.movies.length > 0">
    <ul>
      <li *ngFor="let m of actor.movies">
        <a [routerLink]="['../../movie', m.id]"><span *ngIf="true">ID: {{m.id}} </span>{{m.title}}</a>
      </li>
    </ul>
  </div>
  <label>Sorozatok, melyekben szerepel:</label>
  <div *ngIf="!actor.episodes || actor.episodes.length == 0">
    <label>A színésznek még nem szerepel epizódokban.</label>
  </div>
  <div *ngIf="actor.episodes && actor.episodes.length > 0">
    <ul>
      <li *ngFor="let e of actor.episodes">
        <a [routerLink]="['../../episode', e.id]"><span *ngIf="true">ID: {{e.id}} </span>{{e.title}}</a>
      </li>
    </ul>
  </div>
</div>
<button type="button" (click)="goBack()">Vissza</button>