<nav class="nav">
    <a class="nav-link" routerLink="/articles" routerLinkActive="active">Cikkek</a>
    <a class="nav-link" routerLink="/forum" routerLinkActive="active">Fórum</a>
    <a class="nav-link" routerLink="/search" routerLinkActive="active">Keresés</a>
    <a class="nav-link" routerLink="/error-report" routerLinkActive="active">Hibabejelentés</a>
    <a class="nav-link" routerLink="/login" routerLinkActive="active">Bejelentkezés</a>
    <a class="nav-link" routerLink="/registration" routerLinkActive="active">Regisztráció</a>
    <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
    <a class="nav-link" routerLink="/private-messages" routerLinkActive="active">Privát üzenetek</a>
</nav>
<div class="routes-body">
    <router-outlet></router-outlet>
</div>