<form>
  <label for="title">Cím:</label>
  <input type="text" id="title" name="title"/><br/>
  <label for="rating">Értékelés:</label>
  <input type="text" id="rating" name="rating"/><br/>
  <label for="releaseDate">Megjelenés dátuma:</label>
  <input type="text" id="releaseDate" name="releaseDate"/><br/>
  <label for="length">Hossz:</label>
  <input type="text" id="length" name="length"/><br/>
  <label for="actors">Színészek:</label>
  <input type="text" id="actors" name="actors"/>todo lista?
</form>