<h2>Film</h2>
<div *ngIf="movie">
  <div *ngIf=true>
    <label>ID:</label>
    <label>{{movie.id}}</label>
    <button class="btn btn-primary" [routerLink]="['/admin/edit-movie', { id: movie.id }]">Szerkesztés</button>
    <button class="btn btn-primary" [routerLink]="['/admin/edit-movie-actors', { id: movie.id }]">Színészek kezelése</button>
  </div>
  <label>Cím:</label>
  <label>{{movie.title}}</label><br/>
  kép
  <br/>
  <label>Értékelés:</label>
  <span *ngIf="movie.rating == 0">Még nincs értékelve.</span>
  <span *ngIf="movie.rating > 0">{{movie.rating.toPrecision(3)}}</span>
  <button (click)="createRating()" *ngIf="true">Film értékelése</button>
  <br/>
  <div *ngIf="showRating">
    <form (ngSubmit)="addRating(userRating.value)" #ratingForm="ngForm">
      <label for="userRating">Az ön értékelése:</label>
      <input type="number" id="userRating" name="userRating" required appCustomMin="1" appCustomMax="10" ngModel #userRating/><label title="{{ratingMessage}}"> ?</label><br/>
      <button type="submit" [disabled]="!ratingForm.form.valid">Értékelés küldése</button>
      <button type="button" (click)="cancelRating()">Mégse</button>
    </form>
  </div>
  <label>Megjelenés éve:</label>
  <label>{{movie.releaseYear}}</label><br/>
  <label>Műfaj:</label>
  <label>{{movie.genre.name}}</label><br/>
  <label>Hossz:</label>
  <label>{{movie.mLength}}</label><br/>
  <label>Korbesorolás:</label>
  <label>{{movie.ageClassification.name}}</label><br/>
  <label>Költségvetés:</label>
  <label>{{movie.budget}} $</label><br/>
  <label>Színészek:</label>
  <div *ngIf="!actors || actors.length == 0">
    <label>A filmnek még nincsenek színészei.</label>
  </div>
  <div *ngIf="actors && actors.length > 0">
    <ul>
      <li *ngFor="let a of actors">
        <a [routerLink]="['../../actor', a.id]"><span *ngIf="true">ID: {{a.id}} </span>{{a.name}}</a>
      </li>
    </ul>
  </div>
  <app-comment-list [type]="type" [id]="movie.id"></app-comment-list>
</div>
<button type="button" class="btn btn-secondary" (click)="goBack()">Vissza</button>