<h2>Film</h2>
<div *ngIf="movie">
  <div *ngIf=true>
    <label>ID:</label>
    <label>{{movie.id}}</label>
    <button [routerLink]="['/admin/edit-movie', { id: movie.id }]">Szerkesztés</button>
  </div>
  <label>Cím:</label>
  <label>{{movie.title}}</label><br/>
  kép
  <br/>
  <label>Értékelés:</label>
  <label>{{movie.rating}}</label><br/>
  <label>Megjelenés éve:</label>
  <label>{{movie.releaseYear}}</label><br/>
  <label>Műfaj:</label>
  <label>{{movie.genre.name}}</label><br/>
  <label>Hossz:</label>
  <label>{{movie.mLength}}</label><br/>
  <label>Korbesorolás:</label>
  <label>{{movie.ageClassification.name}}</label><br/>
  <label>Költségvetés:</label>
  <label>{{movie.budget}} $</label><br/>
  <label>Színészek:</label>
  <label>lista</label>
</div>
<button type="button" (click)="goBack()">Vissza</button>