<h2>Epizód létrehozása</h2>
<form (ngSubmit)="addEpisode()" #editEpisodeForm="ngForm">
  <label for="title">Cím:</label>
  <input type="text" id="title" name="title" required pattern=".*\S.*" [(ngModel)]="episode.title" #title="ngModel"/><br/>
  <label for="releaseDate">Megjelenés dátuma:</label>
  <input type="date" id="releaseDate" name="releaseDate" required [(ngModel)]="bDate" #releaseDate="ngModel"><br/>
  <label for="length">Hossz:</label>
  <input type="number" id="hour" name="hour" required [(ngModel)]="hours" #hour="ngModel"/><span>óra</span>
  <input type="number" id="minute" name="minute" required [(ngModel)]="minutes" #minute="ngModel"/><span>perc</span>
  <input type="number" id="second" name="second" required [(ngModel)]="seconds" #second="ngModel"/><span>másodperc</span><br/>
  <button type="submit" [disabled]="!editEpisodeForm.form.valid">Mentés</button>
</form>
színészek...
<button type="button" (click)="goBack()">Vissza</button>