<h2>Epizód létrehozása</h2>
<div *ngIf="!saved">
    <form (ngSubmit)="addEpisode()" #editEpisodeForm="ngForm">
        <label for="title">Cím:</label>
        <input type="text" id="title" name="title" required maxlength="200" pattern="^\S.*\S$|^\S$" [(ngModel)]="episode.title" #title="ngModel"/><br/>
        <label for="releaseDate">Megjelenés dátuma:</label>
        <input type="date" id="releaseDate" name="releaseDate" required appCustomDate="1850,2100" [(ngModel)]="rDate" #releaseDate="ngModel"><br/>
        <label for="length">Hossz:</label>
        <input type="number" id="hour" name="hour" required appCustomMin="0" appCustomMax="100" [(ngModel)]="hours" #hour="ngModel"/><span>óra</span>
        <input type="number" id="minute" name="minute" required appCustomMin="0" appCustomMax="60" [(ngModel)]="minutes" #minute="ngModel"/><span>perc</span>
        <button type="submit" [disabled]="!editEpisodeForm.form.valid">Mentés</button>
        színészek...
    </form>
</div>
<div *ngIf="saved">
    <label>Elmentve!</label>
</div>
<button type="button" (click)="goBack()">Vissza</button>