<h2>Film színészeinek kezelése</h2>
<form (ngSubmit)="getEpisodeActors()" #getEpisodeForm="ngForm">
  <label for="episodeID">Epizód ID:</label>
  <input type="number" id="episodeID" name="episodeID" required appCustomMin="1" appCustomMax="9000000000000000000" [(ngModel)]="episodeId" #episodeID="ngModel"><label title="{{idMessage}}"> ?</label><br/>
  <button type="submit" [disabled]="!getEpisodeForm.form.valid">Epizód lekérése</button>
</form>
<div *ngIf="error1">
  <label>A megadott epizód ID nem létezik!</label>
</div>
<div *ngIf="showActors">
  <label>Színész ID-k:</label>
  <div *ngIf="!actors || actors.length == 0">
    <label>Az epizódnak még nincsenek színészei.</label>
  </div>
  <div *ngIf="actors && actors.length > 0">
    <ul>
      <li *ngFor="let a of actors">
        <label>ID: {{a.id}}</label><button (click)="removeActorFromEpisode(a.id)">Törlés</button>
      </li>
    </ul>
  </div>
  <form (ngSubmit)="addActorToEpisode(actorID.value)" #addActorForm="ngForm">
    <label>Új színész hozzáadása:</label><br/>
    <label for="actorID">Színész ID:</label>
    <input type="number" id="actorID" name="actorID" required appCustomMin="1" appCustomMax="9000000000000000000" ngModel #actorID><label title="{{idMessage}}"> ?</label><br/>
    <button type="submit" [disabled]="!addActorForm.form.valid">Hozzáadás</button>
  </form>
</div>
<div *ngIf="error2">
  <label>A megadott színész ID nem létezik!</label>
</div>
<div *ngIf="error3">
  <label>A színész már az epizódhoz van rendelve!</label>
</div>
<button type="button" (click)="goBack()">Vissza</button>