<h2>Film színészeinek kezelése</h2>
<div class="card">
  <form (ngSubmit)="getEpisodeActors()" #getEpisodeForm="ngForm">
    <label for="episodeID">Epizód ID:&nbsp;</label>
    <input type="number" id="episodeID" name="episodeID" required appCustomMin="1" appCustomMax="9000000000000000000" [(ngModel)]="episodeId" #episodeID="ngModel">
    <label tooltip="{{idMessage}}" placement="right"><img src="assets/help.png" alt="help" class="help"></label><br/>
    <button type="submit" class="btn btn-primary" [disabled]="!getEpisodeForm.form.valid">Epizód lekérése</button>
  </form>
  <div *ngIf="error1">
    <alert type="danger" class="alert">A megadott epizód ID nem létezik!</alert>
  </div>
  <div *ngIf="showActors">
    <label>Színész ID-k:</label>
    <div *ngIf="!actors || actors.length == 0">
      <alert type="info" class="alert">Az epizódnak még nincsenek színészei.</alert>
    </div>
    <div *ngIf="actors && actors.length > 0">
      <ul>
        <li *ngFor="let a of actors">
          <label>ID: {{a.id}} Név: {{a.name}}&nbsp;</label>
          <button class="btn btn-danger" (click)="removeActorFromEpisode(a.id, template)">Törlés</button>
        </li>
      </ul>
    </div>
    <form (ngSubmit)="addActorToEpisode(actorID.value)" #addActorForm="ngForm">
      <label>Új színész hozzáadása:</label><br/>
      <label for="actorID">Színész ID:&nbsp;</label>
      <input type="number" id="actorID" name="actorID" required appCustomMin="1" appCustomMax="9000000000000000000" ngModel #actorID>
      <label tooltip="{{idMessage}}" placement="right"><img src="assets/help.png" alt="help" class="help"></label><br/>
      <button class="btn btn-success" type="submit" [disabled]="!addActorForm.form.valid">Hozzáadás</button>
    </form>
  </div>
  <div *ngIf="error2">
    <alert type="danger" class="alert">A megadott színész ID nem létezik!</alert>
  </div>
  <div *ngIf="error3">
    <alert type="danger" class="alert">A színész már az epizódhoz van rendelve!</alert>
  </div>
  <div>
    <button type="button" class="btn btn-secondary" (click)="goBack()">Vissza</button>
  </div>
</div>

<ng-template #template>
  <div class="modal-body text-center">
      <p>Biztosan törli?</p>
      <button type="button" class="btn btn-danger" (click)="confirm()">Igen</button>
      <button type="button" class="btn btn-secondary" (click)="decline()">Mégse</button>
  </div>
</ng-template>