<div *ngIf="!articles || articles.length == 0">
    <alert type="info" class="alert">Még nincsenek publikált cikkek.</alert>
</div>
<div *ngIf="articles && articles.length > 0">
    <ul>
        <li *ngFor="let a of articles">
            <div class="my-container-small">
                <a class="li-link" [routerLink]="[a.id]"><span>{{a.title}}</span></a>
            </div>
        </li>
    </ul>
    <div class="row">
        <div class="col-xs-12 col-12">
            <pagination [boundaryLinks]="true" [directionLinks]="true" [maxSize]="5" [rotate]="true" [itemsPerPage]="size" [totalItems]="total" (pageChanged)="onPageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
    </div>
</div>
<div *ngIf="true">
    <button class="btn btn-primary" routerLink="edit-article">Új cikk írása</button>
</div>
<div *ngIf="true">
    <button class="btn btn-primary" routerLink="saved-article-list">Mentett cikkek</button>
</div>