<div *ngIf="!articles || articles.length == 0">
    <alert type="info" class="alert">Még nincsenek publikált cikkek.</alert>
</div>
<div *ngIf="articles && articles.length > 0">
    <div>
        <select name="pageSize" id="pageSize" (change)="onSizeChanged()" [(ngModel)]="size" #pageSize="ngModel">
            <option *ngFor="let s of sizes" [value]="s">{{s}}</option>
        </select>
        <label>&nbsp;{{pageFirst}}-{{pageLast}}/{{total}}</label>
    </div>
    <ul>
        <li *ngFor="let a of articles">
            <a class="li-link" [routerLink]="[a.id]"><span>{{a.title}}</span></a>
        </li>
    </ul>
    <div class="row">
        <div class="col-xs-12 col-12">
            <pagination [boundaryLinks]="true" [directionLinks]="true" [maxSize]="5" [rotate]="true" [itemsPerPage]="size" [totalItems]="total" (pageChanged)="onPageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
    </div>
</div>
<div *ngIf="canDo">
    <button class="btn btn-primary" routerLink="edit-article">Új cikk írása</button>
</div>
<div *ngIf="canDo">
    <button class="btn btn-primary" routerLink="saved-article-list">Mentett cikkek</button>
</div>