<form>
  <label for="title">Cím:</label>
  <input type="text" id="title" name="title"/><br/>
  kép
  <label for="rating">Értékelés:</label>
  <input type="text" id="rating" name="rating"/><br/>
  <label for="releaseYear">Megjelenés éve:</label>
  <input type="text" id="releaseYear" name="releaseYear"/><br/>
  <label for="genre">Műfaj:</label>
  <input type="text" id="genre" name="genre"/><br/>
  <label for="seasons">Évadok:</label>
  <input type="text" id="seasons" name="seasons"/>todo lista?
</form>