<div *ngIf="!modify">
    <h2>Új cikk írása</h2>
</div>
<div *ngIf="modify">
    <h2>Cikk módosítása</h2>
</div>
<div *ngIf="!saved && !published && !deleted">
    <form (ngSubmit)="publishArticle()" #editArticleForm="ngForm">
        <label for="title">Cím:</label><br />
        <input type="text" id="title" name="title" required maxlength="200" appCustomText [(ngModel)]="article.title" #title="ngModel"><label title="{{inputTextMessage}}"> ?</label><br />
        <label for="content">Tartalom:</label><br />
        <textarea rows="20" cols="70" id="content" name="content" required maxlength="60000" appCustomText [(ngModel)]="article.content" #content="ngModel"><label title="{{textareaMessage}}"> ?</label></textarea><br/>
        <button type="button" class="btn btn-primary" [disabled]="!editArticleForm.form.valid" (click)="saveArticle()">Mentés</button>
        <button type="submit" class="btn btn-success" [disabled]="!editArticleForm.form.valid">Publikálás</button>
        <button *ngIf="modify" type="button" class="btn btn-danger" (click)="deleteArticle()">Törlés</button>
    </form>
</div>
<div *ngIf="saved">
    <label>Elmentve!</label><br />
</div>
<div *ngIf="published">
    <label>Publikálva!</label><br />
</div>
<div *ngIf="deleted">
    <label>Törölve!</label><br />
</div>    
<button type="button" class="btn btn-secondary" (click)="goBack()">Vissza</button>